<html>
    <head>
        <title>Steven's Blog</title>
    </head>
    <body>
        <div>
            <h1>This is Steven's Blog</h1>
        </div>

        <div>
            <h2>Steps to push new HTML to Git from Console</h2>
                <ul><li>Type git add --all .</li><li>Type git commit -m "Insert Reason Here"</li><li>Type git push</li></ul>
        </div>

        <div>
            <h2>Steps to pull new HTML from Git to PythonAnywhere</h2>
                <ul>
                    <li>Go to PythonAnywhere and open "Consoles"</li>
                    <li>Open Bash</li>
                    <li>Ensure you're in the correct directory</li>
                    <li> Use cd ~/<sram3120>.pythonanywhere.com to cd if needed</li>
                    <li> Type git pull</li>
                    <li>Go to Web in PythonAnywhere and click Reload</li>




                </ul>



        </div>





    </body>


</html>